body {
  font-family: "Open Sans", "Helvetica";
  margin: 0;
}
h1 {
  font-family: "Open Sans";
  font-size: 20px;

}

#logo { 
	height: 100px;
	width: 100px;
	display: block;
	 }

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;

}